body {
  display: flex;
  justify-content: center;
  height: 98vh;
  align-items: center;
}

main {
  width: 380px;
}

#content {
  width: 380px;
  height: 380px;
  text-align: center;
  border: solid 1px black;
  border-radius: 10px;
  background-image: url('../mainResources/picture_cover.jpg');
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: inline-flex;
  flex-wrap: wrap;
}

p {
  margin: 5px;
}